body{
  background-color: #f3f3f3;
  margin: auto;
  text-align: center;
}
.App{
  
  /* display: flex;
  justify-content: center; */
  /* align-items: center;
  flex-direction: column;
  color: black; */
}